<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/css/stylesOrders.css">
    <title>Document</title>
</head>
<body>
    <main>
        <h2 class="allservice">Список доступных животных</h2>
        <br>
        <br>
        <input type="text" name="email" class="email" placeholder="Электронная почта">

        <button name="UserAction" type="submit" value="new_filter" class="savebtn">Найти</button>

    </main>
</body>
</html>

