@using AnimalsStoreWeb.Models

@model AnimalsStoreWeb.Models.shop_items

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/css/stylesRegistrateOrder.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="serviceblock">
            <p class="service">@Model.name</p>
            <br>
            <span class="price" id="price" value="@Model.price"> Цена :@Model.price р</span>
            <input type="text" name="email" class="email" placeholder="Электронная почта">
            <br>
            <br>
            <input type="text" name="amount" class="amount" id="amount" onchange="ChangePrice()" placeholder="Количество">
            <p class="finprice">Итого:</p>

            <span name="finalprice" id="finalprice" class="finprice"></span>
            <br>
        </div>
        <script type="text/javascript">
        function ChangePrice() {
            var first = document.getElementById('amount').value;
            document.getElementById('finalprice').innerHTML = first * 2 + " р";
        }
        </script>
    </main>
</body>
</html>

