@using AnimalsStoreWeb.Models
@model AnimalsStoreWeb.Models.StoreDatabase

@{
    List<shop_items> ShopItems = new StoreDatabase().shop_items.ToList();
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="C:\Users\Рамазан\Desktop\сайты\ЗАКАЗНОЙ САЙТ\css\stylesforStore.css">
    <title>Document</title>
</head>
<body>
    <main>
        <h2 class="allservice">Список доступных животных</h2>
        <br>
        <br>
        @foreach (shop_items item in ShopItems)
        {
            <br />
            <div class="serviceblock" onclick="location.href='/AnimalPresent/GetAnimal?id=@item.id'">
                <P>@item.GetImage()</P>
                <p class="service">@item.name</p>
                <p class="price">Цена : @item.price р</p>
                <p class="animalinfo">@item.description</p>
            </div>
            <br />
        }
    </main>
</body>
</html>