@using AnimalsStoreWeb.Models
@model AnimalsStoreWeb.Models.shop_items

@{
    orders order = new orders()
    {
        shop_item_id = Model.id,
        status = 1
    };
}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="~/Content/css/stylesRegistrateOrder.css">
        <title>Document</title>
    </head>
    <body>
        <main>
            <div id="box" class="serviceblock">
                <p class="service">Оформление заказа</p>
                <hr />
                <p class="service">Товар: @Model.name</p>
                <br>
                <span class="price" id="price" value="@Model.price"> Цена: @Model.price р</span>
                <br>
                <br />
                <input class="amount" id="amount" placeholder="Количество" type="number" value="1" min="1" onchange="calculate_final_price()">
                <br>
                <br />
                <br />
                <br />
                <input id="email" class="email" placeholder="Электронная почта" type="text" value="" oninput="check_email()">
                <br />
                <br />
                <p class="finprice">Итого:</p>
                <br/>
                <p name="finalprice" id="final_price" class="finalprice"></p>
                <hr />
                <button id="accept_order" class="savebtn">@Html.ActionLink("Принять", "RegistrateOrder", order)</button>
            </div>
        </main>
    </body>
    <script language="JavaScript">
        document.getElementById('accept_order').style.visibility="hidden";
        
        function calculate_final_price()
        {
            var count = document.getElementById('amount').value;
            var price = document.getElementById('price').value;
            document.getElementById('final_price').value = count * price;
        }
    </script>
</html>