@using AnimalsStoreWeb.Models
@model AnimalsStoreWeb.Models.shop_items

@{
    orders order = new orders()
    {
        shop_item_id = Model.id,
        status = 1
    };
}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="~/Content/css/stylesRegistrateOrder.css">
        <title>Document</title>
    </head>
    <body>
        <main>
            <div id="box" class="serviceblock">
                <p class="service">Оформление заказа</p>
                <hr/>
                <p class="service">Товар:</p>
                <p class="price">@Model.name</p>
                <p class="price">Цена за 1 штуку:</p>
                <p class="price" id="price">@Convert.ToInt32(Model.price)</p>
                <p class="price">Количество:</p>
                <input class="amount" id="amount" placeholder="Количество" type="number" value="1" min="1" oninput="calculate_final_price()">
                <br>
                <br/>
                <p class="price">Заказсчик:</p>
                <input class="email" id="email" placeholder="Электронная почта" type="text" value="" oninput="check_email()">
                <br/>
                <br/>
                <p class="finprice">Итого:</p>
                <p class="finprice" id="final_price"></p>
                <br/>
                <hr/>
                <button id="accept_order" class="savebtn">@Html.ActionLink("Принять", "RegistrateOrder", order)</button>
            </div>
        </main>
    </body>
    <script language="JavaScript">
        document.getElementById('accept_order').style.visibility="hidden";
        document.getElementById('final_price').innerHTML = document.getElementById('amount').value * document.getElementById('price').innerHTML + " р.";
        
        function check_email()
        {
            var email = document.getElementById('email').value;
                            
            if (email !== "") {
                document.getElementById('accept_order').style.visibility="visible";
            } else {
                document.getElementById('accept_order').style.visibility="hidden";
            }
        }
        
        function calculate_final_price()
        {
            var count = document.getElementById('amount').value;
            var price = document.getElementById('price').innerHTML;
            var finish_price = price * count;
            
            document.getElementById('final_price').innerHTML = finish_price + " р.";
        }
    </script>
</html>